<%= render 'grid' %>
<div class="show-panel">
  <div class="row">
    <div class="col-xs-7">
      <h1>Today's Appointments</h1>
      <h5><%= Time.now.strftime("%A - %B %d, %Y ") %></h5>
    </div>
    <div class="col-xs-5">
      <div class="pull-right">
        <div class="form-group form-inline">
          <br>
          <div class="panel panel-default panel-body">
            <label>Search</label>
            <br /> 
              <%= grid_filter @appointment, :name_filter %>
              <%= link_to raw('<span class="glyphicon glyphicon-hand-right"></span> Set'), new_appointment_path, class: 'btn btn-default btn-sm', remote: true, data: { toggle: 'modal', target: "#appointment"}, title: 'Set Appointment' %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row-fluid">
    <%= render_grid(@appointment) %>
  </div>
</div>
<div class="modal fade" tabindex="-1" role="dialog" id="appointment">
  <div class="modal-dialog">
    <div class="modal-content">
      <div id="appointment_content">
      </div>
    </div>
  </div>
</div>	

<ul id="contextMenu" class="dropdown-menu" role="menu" style="display:none" >
  <li><%= link_to raw("<span class='glyphicon glyphicon-pencil'></span> Edit"), "#", remote: true, data: { toggle: 'modal', target: "#appointment" }, title: 'Edit Appointment', id: 'm_edit' %></li>
  <li><%= link_to raw("<span class='glyphicon glyphicon-user'></span> Patient Info"), "#", title: 'View Patient Info', id: 'm_view' %></li>
  <li><%= link_to raw("<i class='fa fa-line-chart'></i> Statistics"), "#", title: 'View Patient Info', id: 'm_stat' %></li>
  <li><%= link_to raw("<span class='glyphicon glyphicon-trash'></span> Delete"), "#", method: :delete, data: { confirm: "Remove appointment?" }, title: 'Remove Appointment', id: 'm_delete' %></li>
</ul>
<script type="text/javascript">
(function ($, window) {
  $.fn.contextMenu = function (settings) {
    return this.each(function () {
      $(this).on("contextmenu", function (e) {
        if (e.ctrlKey) return;
        var pId = this.id;
        var cId = $(this).attr("class");
        $("#m_edit").attr("href","appointment/"+pId);
        $("#m_view").attr("href","patient/"+cId);
        $("#m_delete").attr("href","appointment/"+pId);
        var $menu = $(settings.menuSelector)
        .data("invokedOn", $(e.target))
        .show()
        .css({
          position: "absolute",
          left: getMenuPosition(e.clientX, 'width', 'scrollLeft'),
          top: getMenuPosition(e.clientY, 'height', 'scrollTop')
        })
        .off('click')
        .on('click', 'a', function (e) {
          $menu.hide();
          var $invokedOn = $menu.data("invokedOn");
          var $selectedMenu = $(e.target);
                        // settings.menuSelected.call(this, $invokedOn, $selectedMenu,$patID);
                      });

        return false;
      });

      $(document).click(function () {
        $(settings.menuSelector).hide();
      });
    });

function getMenuPosition(mouse, direction, scrollDir) {
  var win = $(window)[direction](),
  scroll = $(window)[scrollDir](),
  menu = $(settings.menuSelector)[direction](),
  position = mouse + scroll;

  if (mouse + menu > win && menu < mouse) 
    position -= menu;

  return position;
}    

};
})(jQuery, window);


$(".table tbody tr").contextMenu({
  menuSelector: "#contextMenu",
  menuSelected: function (invokedOn, selectedMenu, patID) {
    var msg = "You selected the menu item '" + selectedMenu.text() +
    "' on the value '" + invokedOn.text() + patId +"'";
        // var pid = $("#tblpatients tr").id();
        //   $("#view").attr("href").val("patients/")
        alert(msg);
      }
    });
</script>