<%= simple_form_for @info, wrapper: :pis_form, wrapper_mappings: { pis: :pis_form, file: :vertical_file_input, mi: :pis_form_small } do |f| %>
	<%= f.hidden_field :patient_id, class: 'form-inline' %>
	<h4><b>Personal Information</b></h4>
	<div class="row">
		<div class="col-xs-3 form-group">
			<label class="control-label">Occupation</label>
			<%= f.text_field :occupation, class: 'form-control input-sm' %>
		</div>
		<div class="col-xs-3">
			<label>Religion</label>
			<%= f.text_field :religion, class: 'form-control' %>
		</div>
		<div class="col-xs-3">
			<label>Civil Status</label>
			<%= f.text_field :status, class: 'form-control' %>
		</div>
		<div class="col-xs-3">
			<label>Sex</label>
			<%= f.select :sex, options_for_select([[ "Male", "Male"],["Female", "Female"]], @info.sex),{}, {class: 'form-control'} %>
			<!--%= f.text_field :sex, class: 'form-control' %-->
		</div>
	</div>
	<br />
	<div class="row">
		<div class="col-xs-3">
			<label>Birth Date</label>
			<%= f.text_field :bday, class: 'form-control' %>
		</div>
		<div class="col-xs-3">
			<label>Age</label>
			<%= f.number_field :age, class: 'form-control' %>
		</div>
		<div class="col-xs-3">
			<label>Height</label>
			<%= f.text_field :height, class: 'form-control' %>
		</div>
		<div class="col-xs-3">
			<label>Weight</label>
			<%= f.text_field :weight, class: 'form-control' %>
		</div>
	</div>
	<br />
	<h4><b>Contact Numbers</b></h4>
	<div class="row">
		<div class="col-xs-3">
			<label>Home</label>
			<%= f.text_field :homephone, class: 'form-control' %>
		</div>
		<div class="col-xs-3">
			<label>Business</label>
			<%= f.text_field :businessphone, class: 'form-control' %>
		</div>
		<div class="col-xs-3">
			<label>Mobile No.</label>
			<%= f.text_field :mobilephone, class: 'form-control' %>
		</div>
		<div class="col-xs-3">
			<label>Email</label>
			<%= f.email_field :email, class: 'form-control' %>
		</div>
	</div>
	<br/>
<div class="btn-group form-actions">
	<!--%= link_to 'Back', @patient, class: 'btn btn-default' %-->
	<%= f.button :submit, class: 'btn btn-default' %>
</div>
<% end %>
