<div class="show-panel">
  <div class="row">
    <div class="col-xs-2 hidden-sm hidden-xs" style="height: 500px; border: 1px solid #eeeeee; border-radius: 5px">
      <br />
      <%= render 'layouts/sidebar' %>
    </div>
    <div class="pull-right col-xs-10">
      <br>
      <div class="row-fluid">
        <!-- <div class="panel panel-default panel-body"> -->
          <table id="tblpatients" class="table table-hover">
            <thead>
              <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Address</th>
              </tr>
            </thead>
            <tbody>
              <% @patient.each do |patient| %>
              <tr data-link="<%= patient_path(patient.id) %>" data-remote="true" class="patient_info" style="cursor:pointer">
                <td><%= patient.id %></td>
                <td><%= patient.fullname %></td>
                <td><%= patient.address %></td>
              </tr>
              <% end %>
            </tbody>
          </table>
        <!-- </div> -->
      </div>
    </div>
  </div>
</div>
<script src="https://cdn.datatables.net/1.10.4/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/plug-ins/9dcbecd42ad/integration/jqueryui/dataTables.jqueryui.js">
</script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
<link rel="stylesheet" href="https://cdn.datatables.net/plug-ins/9dcbecd42ad/integration/jqueryui/dataTables.jqueryui.css">
<script type="text/javascript">
$(document).ready(function(){

  $('#tblpatients').DataTable({
    sPaginationType: "full_numbers",
    bJqueryUI: true,
    // sDom: '<"H"Tl>tS<"F"ip>'
  });

  $("tr").click(function() {
    window.location = $(this).data("link");
  });
});


</script>