<% @information.each do |f| %>
<div class="container">
	<div class="clearfix">
		<br>
		<div>
			<div class="row">
				<div class="col col-xs-4 col-sm-4 col-lg-2 col-md-3">
					<div class="thumbnail">
						<div class="caption">
							<h4>Image</h4>
							<p>Change Picture</p>
							<br>
							<p>
								<%= link_to raw('<i class="glyphicon glyphicon-paperclip"></i> Upload here'), edit_image_patient_path(@patient), class: 'label label-danger lbl-lg', rel: 'tooltip', remote: true, data: { toggle: 'modal', target: "#view" } %>
							</p>	
						</div>
						<%= image_tag @patient.image.url(:small), class: 'img-responsive', style: 'height: 150px; cursor: pointer' %>
					</div>
				</div>
				<div class="col col-xs-7 col-sm-7 col-lg-10 col-md-9">
					<div class="row">
						<p>
						<span style="font-size:25px; font-weight: normal; color: #FF4209"><%= @patient.lname + ', ' + @patient.fname + ' ' + @patient.mi  %></span>
							<span class="btn btn-group pull-right" style="margin-right: 10px;">
								<%= link_to raw("<i class='fa fa-reply'></i>"), "/patient", class: 'btn btn-default', title: 'Back to Lists' %>
								<%= link_to raw('<i class="glyphicon glyphicon-pencil"></i>'), edit_patient_path(@patient), class: 'btn btn-default', remote: true, data: { toggle: 'modal', target: "#view" }, title: 'Edit Basic Info' %>
								<%= link_to raw("<i class='glyphicon glyphicon-edit'></i>"), set_appointment_patient_path(@patient.id), class: 'btn btn-default', remote: true, data: {toggle: 'modal', target: '#appointment'}, title: 'Set Appointment' %> 
								<%= link_to raw('<i class="glyphicon glyphicon-trash"></i>'), patient_path(@patient), method: :delete,  class: 'btn btn-default', data: { confirm: 'Are you sure you want to delete this patient?'}, title: 'Delete Patient' %>
							</span>
						</p>
						<p><%= @patient.address %></p>
						<br>
						<br>
						<br>
						<p style="font-size: 12px">
							<span class="glyphicon glyphicon-list-alt"></span> Program Started: <span class="lbldates"><%= f.dps.strftime("%D") if f.dps %></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
							<span class="glyphicon glyphicon-user"></span> Profile Updated: <span class="lbldates"><%= @patient.updated_at.strftime("%D") %></span>&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;
							<span class="glyphicon glyphicon-pushpin"></span> Last Visit: <span class="lbldates"><%= @patient.updated_at.strftime("%D") %></span>
						</p>	
					</div>
				</div>
			</div>
		</div>

		<div class="panel panel-default panel-style">
			<div class="panel-body">
				<span style="font-size: 1.2em;"><i class="fa fa-street-view fa-lg iconheader"></i> <strong>Personal Information</strong></span>
				<span class="pull-right">
					<div>
						<!-- <a class="lblinfo" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="cursor:pointer">
							<span class="glyphicon glyphicon-chevron-down"></span>
							<span class="caret"></span>
						</a> -->
						<!-- <ul class="dropdown-menu"> -->
							<!-- <li> -->
							<% if current_user.role == "admin" %>
								<%= link_to raw("<span class='glyphicon glyphicon-pencil'></span> Edit"), '#', class: 'lblinfo', id: 'infox', title: 'Edit Patient' %>
							<% end %>
							<!-- </li> -->
							<!-- <li role="separator" class="divider"></li> -->
						<!-- </ukl> -->
					</div>
				</span>
			</div>
			<div id="show" class="panel-body">
				<div class="row form-horizontal">
					<div class="col col-xs-12 col-sm-12 col-lg-4 col-md-4">
						<div class="form-group">
							<%= label_tag :occupation,'Occupation', class: 'control-label col-xs-5 col-sm-5 col-md-8 col-lg-8', style: 'text-align: left' %>
							<div class="col-xs-7 col-sm-7 col-md-8 col-lg-8">
								<span class="form-control lblinfo"><%= f.occupation %></span>
							</div>
						</div>
						<div class="form-group">
							<%= label_tag :sex, nil, class: 'pull-left col-xs-5 col-sm-5 col-md-4 col-lg-4', style: 'text-align: left' %>
							<div class="col-xs-7 col-sm-7 col-md-8 col-lg-8">
								<span class="form-control lblinfo"><%= f.sex %></span>
							</div>
						</div>
						<div class="form-group">
							<%= label_tag :mobilephone, 'Mobile No.', class: 'pull-left col-xs-5 col-sm-5 col-md-4 col-lg-4', style: 'text-align: left' %>
							<div class="col-xs-7 col-sm-7 col-md-8 col-lg-8">
								<span class="form-control lblinfo"><%= f.mobilephone %></span>
							</div>
						</div>
						<div class="form-group">
							<%= label_tag :referredby, 'Referred by', class: 'pull-left col-xs-5 col-sm-5 col-md-4 col-lg-4', style: 'text-align: left' %>
							<div class="col-xs-7 col-sm-7 col-md-8 col-lg-8">
								<span class="form-control lblinfo"><%= f.referredby %></span>
							</div>
						</div>
					</div>
					<div class="col col-xs-12 col-sm-12 col-lg-4 col-md-4">
						<div class="form-group">
							<%= label_tag :bday, 'Birth Date', class: 'pull-left col-xs-5 col-sm-5 col-md-4 col-lg-4', style: 'text-align: left' %>
							<div class="col-xs-7 col-sm-7 col-md-8 col-lg-8">
								<span class="form-control lblinfo"><%= f.bday %></span>
							</div>
						</div>
						<div class="form-group">
							<%= label_tag :status, 'Status', class: 'pull-left col-xs-5 col-sm-5 col-md-4 col-lg-4', style: 'text-align: left' %>
							<div class="col-xs-7 col-sm-7 col-md-8 col-lg-8">
								<span class="form-control lblinfo"><%= f.status %></span>
							</div>
						</div>
						<div class="form-group">
							<%= label_tag :businessphone, 'Business No.', class: 'pull-left col-xs-5 col-sm-5 col-md-4 col-lg-4', style: 'text-align: left' %>
							<div class="col-xs-7 col-sm-7 col-md-8 col-lg-8">
								<span class="form-control lblinfo"><%= f.businessphone %></span>
							</div>
						</div>
					</div>
					<div class="col col-xs-12 col-sm-12 col-lg-4 col-md-4">
						<div class="form-group">
							<%= label_tag :age, nil, class: 'pull-left col-xs-5 col-sm-5 col-md-4 col-lg-4', style: 'text-align: left' %>
							<div class="col-xs-7 col-sm-7 col-md-8 col-lg-8">
								<span class="form-control lblinfo"><%= f.age %></span>
							</div>
						</div>
						<div class="form-group">
							<%= label_tag :spouse, nil, class: 'pull-left col-xs-5 col-sm-5 col-md-4 col-lg-4', style: 'text-align: left' %>
							<div class="col-xs-7 col-sm-7 col-md-8 col-lg-8">
								<span class="form-control lblinfo"><%= f.spouse %></span>
							</div>
						</div>
						<div class="form-group">
							<%= label_tag :homephone, 'Home Phone', class: 'pull-left col-xs-5 col-sm-5 col-md-4 col-lg-4', style: 'text-align: left' %>
							<div class="col-xs-7 col-sm-7 col-md-8 col-lg-8">
								<span class="form-control lblinfo"><%= f.homephone %></span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="panel panel-default panel-style">
			<div class="panel-body">
				<span style="font-size:18px; "><i class="fa fa-line-chart fa-lg iconheader"></i> <strong>Appointment History</strong></span>
			</div>
			<div class="panel-body">
				<table class="table table-hover table-responsive">
					<thead>
						<tr>
							<th>#</th>
							<th>Date</th>
							<th>Purpose</th>
							<th>Result</th>
							<th>Remarks</th>
						</tr>
					</thead>
					<tbody>
						<% i = 1 %>
						<% @appointment.each do |app| %>
						<tr id='<%= app.id %>' style="cursor:pointer">
							<td><%= i %></td>
							<td><%= app.appointment_date.strftime("%D") %></td>
							<td><%= truncate(app.purpose) %></td>
							<td><%= app.result %></td>
							<td><%= app.remarks %></td>
						</tr>
						<% i += 1 %>
						<% end %>
					</tbody>
				</table>
			</div>
		</div>
		<div class="panel panel-default panel-style">
			<div class="panel-body">
				<span style="font-size:18px; "><i class="fa fa-bar-chart fa-lg iconheader"></i> <strong>Statistics</strong></span>
			</div>
			<div class="panel-body">
			
			</div>
		</div>		
	</div>
</div>	
<% end %>
<div class="modal fade" tabindex="-1" role="dialog" id="appointment">
	<div class="modal-dialog">
		<div class="modal-content">
			<div id="appointment_content">
			</div>
		</div>
	</div>
</div>
</div>
<script type="text/javascript">
$(document).ready(function(){
	$('#infox').click(function(){
		// $('#show').hide();
		$('#show').html("<%= escape_javascript(render 'forminfo') %>");
		$('#infox').hide();
		// $('#show').fadeIn();
	});

	$('#edit_information_<%= params[:id] %>').submit(function(event) {
		event.preventDefault();
		var form = $(this);
		$.ajax({
			type: 'POST',
			url: '<%= information_path(params[:id]) %>',
			data: form.serialize(),
		//processData: false,
		//contentType: false,
		success: function(){
			alert('Data updated!');
		},
	});
	});

	$("[rel='tooltip']").tooltip();    

	$('.thumbnail').hover(
		function(){
        $(this).find('.caption').slideDown(250); //.fadeIn(250)
    },
    function(){
        $(this).find('.caption').slideUp(250); //.fadeOut(205)
    }
    ); 
});
</script>