	<div class="pull-right">
		<% render 'diagnosis/form' %>
		<%= link_to "Edit", edit_patient_path(@patient) %>
		<%= link_to "Delete", patient_path(@patient), method: :delete, data: { confirm: "Are you sure?" } %>
		<%= link_to "Home", root_path %>
	</div>
<div class="well" style="height: 500px">
	<div class="row">
    	<div class="col col-sm-2">
		<%= image_tag @patient.image.url(:small), class: 'img-thumbnail' %>
		</div>
		<div>
			<h1><%= @patient.lname << ', ' << @patient.fname << ' ' << @patient.mi %></h1>
			<p> <%= @patient.address %></p>
			<p class="diagnosis_count"><%= pluralize(@patient.diagnosis.count, "Diagnosis") %></p>
			<%= @diagnosis.each do |diagnosis| %>
				<p id="username"><%= diagnosis.user.name %></p>
				<p id="content"><%= diagnosis.user.content %></p>
			<% end %>
		</div>
	</div>
<div>
	<hr>
<div>
  <!-- Nav tabs -->
  <ul class="nav nav-pills nav-wizard">
        <li class="active"><a href="#" data-toggle="tab">Home</a><div class="nav-arrow"></div></li>
        <li><div class="nav-wedge"></div><a href="#" data-toggle="tab">About</a><div class="nav-arrow"></div></li>
        <li><div class="nav-wedge"></div><a href="#" data-toggle="tab">Contact</a></li>
    </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="home">General</div>
    <div role="tabpanel" class="tab-pane" id="profile">History</div>
    <div role="tabpanel" class="tab-pane" id="messages">Diagnosis</div>

  </div>
     
</div>
</div>
</div>

