<div class="show-panel">
<%= render partial:  'grid' %>
  <div class="row">
    <div class="well col-md-3">
      <div class="panel panel-default">
        <div class="panel-body">
          <span>Last Name</span>
          <span><%= grid_filter @grid, :lname_filter %></span><br>
          <span>First Name</span>
          <span><%= grid_filter @grid, :fname_filter %></span><br>
          <button class="btn wg-external-reset-button btn-danger btn-xs" data-grid-name="grid">Reset</button>
        </div>
      </div>
    </div>



    <div class="col-md-9">
      <div class="well">
        
         <h3>List</h3>
        <hr>
         
        <%= link_to raw('<span class="glyphicon glyphicon-plus" aria-hidden="true"></span><stong>ADD</strong>'), new_patient_path, class: 'btn btn-default btn-xs' %>
        <hr>
        <%= render_grid(@grid) %>
      </div>
    </div>
    </div>
  </div>


