 <div id="wrapper">
  <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                
                <li>
                   <strong>Search</strong>
                </li>
                <li>
                    <input type="text" class="btn">
                </li>
                <li>
                    <button class="btn">Go</button>
                </li>
                
            </ul>
        </div>
<h1><strong>List of Patients</strong></h1>
<table class="table">
	<thead>
		<tr>
			<th>ID</th>
			<th>Lastname</th>
			<th>Firstanme</th>
			<th>MI</th>
			<th>Address</th>
		</tr>
	</thead>
	<tbody>
		<% @patient.each do |patient| %>
		<tr>
			<td><%= patient.id %></td>
			<td><%= link_to patient.lname, patient %></td>
			<td><%= patient.fname %></td>
			<td><%= patient.mi %></td>
			<td><%= patient.address %></td>
		</tr>
		<% end %>
	</tbody>
</table>
</div>
<br />
<br />

<%= link_to "Add Patient", new_patient_path %>
</div>

<div class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Modal title</h4>
      </div>
      <div class="modal-body">
        <p>One fine body&hellip;</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script>
  $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
</script>