  <%= render partial:  'grid' %>
<div class="row fluid">
  <div class="show-panel">
    <div class="col-xs-2 panel" style="height: 500px; border: 1px solid #eeeeee; border-radius: 5px">
      <br />
      <div class="panel-group" id="accordion">
        <div class="panel panel-default">
          <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Statement no. 1</a>
          </h4>
          </div>
          <div id="collapseOne" class="panel-collapse collapse">
            <div class="panel-body">
                <p>HTML stands for HyperText Markup Language. HTML is the main markup language for describing the structure of Web pages. <a href="http://www.tutorialrepublic.com/html-tutorial/" target="_blank">Learn more.</a></p>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Statement no. 2</a>
            </h4>
          </div>
          <div id="collapseTwo" class="panel-collapse collapse">
            <div class="panel-body">
                <p>Bootstrap is a powerful front-end framework for faster and easier web development. It is a collection of CSS and HTML conventions. <a href="http://www.tutorialrepublic.com/twitter-bootstrap-tutorial/" target="_blank">Learn more.</a></p>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
          <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">Statement No. 3</a>
          </h4>
          </div>
        <div id="collapseThree" class="panel-collapse collapse">
          <div class="panel-body">
            <p>CSS stands for Cascading Style Sheet. CSS allows you to specify various style properties for a given HTML element such as colors, backgrounds, fonts etc. <a href="http://www.tutorialrepublic.com/css-tutorial/" target="_blank">Learn more.</a></p>
          </div>
        </div>
        </div>
    </div>
  </div>
<div class="col-xs-10">
<h3>LIST OF PATIENTS</h3>
<hr>
<table id="tblpatients" class="table table-hover">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Address</th>
    </tr>
  </thead>
  <tbody>
    <% @patient.each do |patient| %>
    <tr data-link="<%= patient_path(patient.id) %>" data-remote="true" class="patient_info" style="cursor:pointer">
      <td><%= patient.id %></td>
      <td><%= patient.fullname %></td>
      <td><%= patient.address %></td>
      
    </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'New Patient', new_patient_path, class: 'btn btn-default', remote: true, data: { toggle: 'modal', target: "#view" } %>
</div>
</div>

</div>
</div>
<div class="row">
<div class="col-xs-6">
<% if notice %>
<div class="alert alert-success alert-dismissible" role="alert">
<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
<a href="#" class="alert-link"><%= notice %></a>
</div>
<% end %>
<% if alert %>
<div class="alert alert-danger alert-dismissible" role="alert">
<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
<a href="#" class="alert-link"><%= alert %></a>
</div>

<% end %>
</div>
</div>
</div>

<script type="text/javascript">

$("tr").click(function() {
  window.location = $(this).data("link");
  });


</script>