<% @appcount=Appointment.where("DATE(appointment_date) ='#{Date.today}'").count(:id) %>
<nav class="navbar navbar-inverse navbar-fixed-top" style="background-color: #0E0E29; border: none">
  <div class="container">
    <div class="row">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcollapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <span class="navbar-brand" style="color: #F1EAEA"><%= image_tag 'NCI.png', style: 'height: 30px; width: 45px' %> <span style="font-size: .8em"><!-- Sample Application Inc. -->Natural Complexions Inc.</span></span>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->

      <div class="collapse navbar-collapse" id="navcollapse">
        <ul class="nav nav-pills navbar-nav navbar-right">
          <% if user_signed_in? %>
            <li class="<%= 'active' if request.path=='/' %>" data-toggle="tooltip" data-placement="bottom" title="Home">
              <%= link_to raw('<span class="fa fa-home fa-lg"></span>'), root_path %> 
            </li>
            <li class="<%= 'active' if request.path=='/patient/'+ current_user.patient_id.to_s %>" data-toggle="tooltip" data-placement="bottom" title="Profile">
              <% if current_user.patient_id? %>
              <%= link_to raw('<span class="fa fa-user fa-lg"></span>'), patient_path(current_user.patient_id) %>
              <% else %>
               <%= link_to raw('<i class="fa fa-plus fa-sm"></i>'), new_patient_path, remote: true, data: { toggle: 'modal', target: "#view" } %>
              <% end %>
            </li>
            <% if current_user.role =="admin" %>
            <li class="<%= 'active' if request.path=='/patient' or request.path == '/patient/' + params[:id].to_s %>" data-toggle="tooltip" data-placement="bottom" title="Patients">
              <%= link_to raw('<span class="fa fa-user-md fa-lg"></span>'), patient_index_path %>
            </li>
            <li class="<%= 'active' if request.path=='/appointment' %>" data-toggle="tooltip" data-placement="bottom" title="Appointments">
              <%= link_to raw("<span class='fa fa-tasks fa-lg'></span><span class='badge'>#{@appcount}</span>"), appointments_path, data: {toogle: 'pill'} %>
            </li>
            <li><!--  data-toggle="tooltip" data-placement="bottom" title="Search" -->
              <%= link_to raw("<span class='fa fa-search fa-lg'></span>"), "#search", id: 'search', data: {toogle: 'popover', trigger: 'focus', content: 'Sample Search for popover', placement: 'bottom'}, title: 'Search patients', tabindex: "0" %>
              
            </li>
            <% end %>
          <li data-toggle="tooltip" data-placement="bottom" title="Logout">
            <%= link_to raw('<span class="fa fa-sign-out fa-lg"></span>'), destroy_user_session_path, :method => :delete, data: { confirm: "Are you sure you want to Logout?" } %>
          </li>
          <% else %>
          <li class="<%= 'active' if request.path=='/users/sign_in' %>">
            <%= link_to 'Login', new_user_session_path, data: { toogle: 'pill' } %>
          </li>
          <!-- <li class="<%#= 'active' if request.path=='/users/sign_up' %>"><%#= link_to 'Sign up', new_user_registration_path, data: {toogle: 'pill'} %></li> -->
          <% end %>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
  <div style="height: 5px; background-color: #FF4209">
  </div>
</nav>  
