<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>PIS</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body style="background-color: #F0F0F0;">
  <div class="alert-fixed pull-right">
      <%= render partial: "layouts/flash", flash: flash %>
  </div>
	<!--% if user_signed_in? %-->
		  <%= render :partial=> 'layouts/topbar' %>
	<!--% end %-->
<br />
<br />
<br />
<div class="container">
	<div class="row" id="content">
		<%= yield %>
	</div>
</div>
<div class="modal fade" tabindex="-1" role="dialog" id="view">
  <div class="modal-dialog">
    <div class="modal-content">
      <div id="viewdialog">
        <!-- content dialog -->
      </div>
    </div>
  </div>
</div>

</body>
</html>
